


@font-face {
    font-family: "myfun";
    src: url("./Neuton/Neuton-Bold.ttf");
   
  }
.fontclass{
    color: #3399ff;
    font-family: "myfun", sans-serif;
   
 
}
.div{
height: 110px;
width: 50%;
}
p{
    margin: 100px 100px 150px 150px;
    text-size-adjust: 1.6;
}
h2{

text-align: center;
text-decoration-color:#cea7f6;


}